@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-sm-4">
        <h2>Admin credentials</h2>
        <p>
            username : admin<br/>
            password : 123456
        </p>
        <p>Only user in role "admin" can create new users</p>
    </div>
</div>