body {
    padding-top: 80px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#infoBox, #errorBox, #loadingBox {
    display: none;
    width: 80%;
    margin: 10px auto;
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 3px;
}

#loadingBox {
    background: #7CB3E9;
}
#infoBox {
    background: #393;
}
#errorBox {
    background: #F50;
}

.single-task {
    padding: 10px;
    margin: 20px auto;
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
}

.comments-wrapper {
    display: none;
    padding: 5px;
    border-top: 3px double black; 
}

.single-comment {
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #cecece;
    border-radius: 10px;
}