@model IEnumerable<MS.ViewModels.TaskViewModel>
@{
    ViewBag.Title = "Tasks";
}

<div id="errorBox">Error</div>
<div id="infoBox">Info</div>
<div id="loadingBox">Loading ...</div>

@Html.DisplayForModel()

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/api")
}